.main .bg-light {
    background-color: yellowgreen!important;
}
.main .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: black;
    font-weight: bold;
}
.main .navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: bold;
}
.main .btn-outline-success {
    color: black;
    border-color: blue;
}
img.d-block.w-100 {
    height: 700px;
    width: 100%;
    object-fit: cover;
}
.carousel-item h5 {
    color: black;
    font-size: xx-large;
    font-weight: bolder;
}
.carousel-item p
{
    color: black;
    font-size:larger;
    font-weight: bolder;
}
img.card-img-top {
    height: 140px;
    width: 140px;
    border-radius: 80px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    align-items: center;
    text-align: center;
}
img.d-block.w-100 {
    height: 500px;
}
.p-5 {
    padding: 3rem!important;
    justify-content: space-between;
    background: darkgrey;
}
table.table {
    background-color: whitesmoke;
}
.table a {
    color: blue;
    text-decoration: none;
}
